nav{
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    box-shadow: 0 0 20px -5px;
}

.navbar-toggler{
    background-color:  rgb(42, 42, 248); 
}

.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    font-size: 2em;
    color:  rgb(42, 42, 248) !important;
}

li{
    font-weight: bold;
}

button{
    background-color: white;
    color:  rgb(87, 87, 250);
    font-weight: bold;
}

@media (max-width: 576px){
    nav{
        padding-left: 5%;
        padding-right: 5%;
    }
}