<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="feed">{{username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="domain" class="nav-link" style="color: rgb(42, 42, 248) ;">Domains </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/user/account" type="button" class="btn btn-primary mr-sm-2">Account Settings</a>
        </li>
        <li class="nav-item">
          <button routerLink="login" type="button" (click)="logout()" class="btn btn-primary">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

  <div>
      <router-outlet></router-outlet>
  </div>