<div class="jumbotron jumbotron-fluid">
  <div class="container jumbotron-container">
    <h1 class="display-6">Search Your Domain</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <div class="search-box">
      <input class="search-txt" type="text" name="" placeholder="Type to search">
      <a class="search-btn" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
             viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row guide-cards">
    <div class="card tag-card col-md-3">
      <div class="card-body">
        <h5 style="font-weight: bold;" class="card-title">Create Your Domain</h5>
        <p class="card-text">Create your own Domain, share it with others and start your discussions. Do your
          thing!!!</p>
        <a routerLink="/user/domain" class="card-link">Create</a>
      </div>
    </div>
    <div class="card tag-card col-md-3">
      <div class="card-body">
        <h5 style="font-weight: bold;" class="card-title">Your Posts</h5>
        <p class="card-text">Find all your posts in every domain till date. You will get all their likes and comments
          alongwith them.</p>
        <a routerLink="/user/feed" class="card-link">Visit</a>
      </div>
    </div>
    <div class="card tag-card col-md-3">
      <div class="card-body">
        <h5 style="font-weight: bold;" class="card-title">Check Other Domains</h5>
        <p class="card-text">Want to find like-minded people? Search for your favorites, there's a good chance that you
          will find one.</p>
        <a routerLink="/user/feed" class="card-link">Check</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div *ngFor='let names of allDomainNames' class="card domain-cards col-md-3">
      <div class="card-body domain-card-body">
        <div class="row">
          <a [routerLink]="['/user', names.name]">{{names.name | uppercase}}</a>
        </div>
      </div>
    </div>
  </div>
</div>



